<div class="content-wrapper">
  <section class="content mt-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="small-box bg-success">
            <div class="inner">
              <h3><%= postsTotal %></h3>
              <p>Postingan</p>
            </div>
            <div class="icon">
              <i class="fas fa-sticky-note"></i>
            </div>
            <a href="/dashboard/posts" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3><%= categoriesTotal %></h3>
              <p>Kategori</p>
            </div>
            <div class="icon">
              <i class="fas fa-stream"></i>
            </div>
            <a href="/dashboard/categories" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>